@model HiMVC.ViewModels.StudentModel
@using HiMVC.ViewModels

@{
    ViewData["Title"] = "New Student";
}

<h2>New Student</h2>

<form asp-action="Student">
    <div class="form-horizontal" ng-app="">
        <h4>Create New Student</h4>
        <hr />
        <h1>Welcome {{name}}</h1>
        <h1>@ViewBag.StatusMessage</h1>
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FName" class="form-control" placeholder="Enter first name here" ng-model="name" />
                <span asp-validation-for="FName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LName" class="form-control" placeholder="Enter last name here" />
                <span asp-validation-for="LName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateOfBirth" class="form-control" placeholder="Enter date of birth here" />
                <span asp-validation-for="DateOfBirth" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Sex" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="form-control">
                    Male: @Html.RadioButtonFor(m => m.Sex, "Male")
                    Female: @Html.RadioButtonFor(m => m.Sex, "Female")
                </div>
                @*<input asp-for="Sex" class="form-control" placeholder="Enter sex here" />
                    <span asp-validation-for="Sex" class="text-danger" />*@
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" placeholder="Enter email here" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConfirmEmail" class="form-control" placeholder="Enter email confirmation here" />
                <span asp-validation-for="ConfirmEmail" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GPA" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div id="slider-range-min"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">5.0 base</label>
            <div class="col-md-10">
                <input asp-for="GPA" class="form-control" placeholder="Enter gpa here 0.0" />
                <span asp-validation-for="GPA" class="text-danger" />
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label asp-for="LecturerTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="LecturerTitle" class="form-control" asp-items="AppList.Title">
                    <option selected="selected" value="">-- None --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Lecturer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Lecturer" class="form-control" asp-items="ViewBag.Lecturers">
                    <option selected="selected" value="">-- None --</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="form-group">
            @{
                var Nationality = ViewBag.Country;
            }
            <label asp-for="@Nationality" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="@Nationality" class="form-control" asp-items="AppList.Countries">
                    <option selected="selected" value="">-- Unknown --</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="StudentList" class=""> &gt; Back to List</a>
</div>
<script>
    $(function () {
        $("#DateOfBirth").datepicker();

        $("#slider-range-min").slider({
            range: "min",
            value: 0.0,
            min: 0.0,
            max: 5.0,
            slide: function (event, ui) {
                $("#GPA").val(ui.value);
            }
        });
        $("#GPA").val($("#slider-range-min").slider("value"));
    });
</script>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jqueri-ui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}



<div condition="@true">
    <p>
        This website has <strong surround="em"> @true </strong> been approved yet.
        Visit www.contoso.com for more information.
    </p>
    <p>
        <website-information info="new WebsiteContext {
                                    Version = new Version(1, 3),
                                    CopyrightYear = 1790,
                                    Approved = true,
                                    TagsToShow = 131 }" />
    </p>
</div>