@model HiMVC.ViewModels.StudentModel

@{
    ViewData["Title"] = "ViewStudent";
}

<h2>ViewStudent</h2>

<div>
    <h4>View Student</h4>
    <hr />
    <h2>:::::::::::::::::: @Model.FName @Model.LName</h2>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age) yrs
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GPA):
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.GPA)*@
            @for (int x = 0; x < Model.GPA; x++) {
            <img alt="star" src="~/images/gold-starx.jpg" class="medalstar" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nationality):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="EditStudent" asp-route-id="@Model.StudentId">Edit</a> |
    <a asp-action="StudentList">Back to List</a>
</p>
